@import "../bourbon/bourbon";

@import 'header.scss';

.woocommerce{
.df_cart_form{
		border: none !important;
		margin: auto;
		max-width: 1000px;
		table.shop_table{
		border: none !important;
		margin: auto;
		max-width: 90% !important;
		thead{
			color:$bordo;
		}
		tbody{
		border:0 !important;
		}
		tr{
			border: none !important;
			text-align: center;
			font-size: 0.825em;
			font-style: italic;
			td{
				border: none !important;
				padding: 0 !important;
				margin: 0 !important;
			}
			a.remove{
				font-size: 0.825em;
				color: $bordo !important;
				padding: 0.5em;
				&:hover{
					background: $bordo;
					color: white !important;
				}
			}
			.product-name{
				text-align: left;
				.variation{
					font-size: 0.725em;
				}
			}
			.product-quantity{
							input.input-text{
								margin:0;
								outline: 0;
								border: 0;
								padding: 4px;
// 								background: $light_green;
								color:$green;
							   -webkit-appearance: none;
							   -moz-appearance:none;
							   -ms-appearance:none;
							   -o-appearance:none;
							    appearance: none;
							}
			}
		}
	}
}
}
.cart-collaterals{
		margin: auto;
		max-width: 1000px;
	.cart_totals {
		width: 100%;
	}
}
