/* #d3d6aa */
.woocommerce .df_cart_form {
  border: none !important;
  margin: auto;
  max-width: 1000px; }
  .woocommerce .df_cart_form table.shop_table {
    border: none !important;
    margin: auto;
    max-width: 90% !important; }
    .woocommerce .df_cart_form table.shop_table thead {
      color: #972620; }
    .woocommerce .df_cart_form table.shop_table tbody {
      border: 0 !important; }
    .woocommerce .df_cart_form table.shop_table tr {
      border: none !important;
      text-align: center;
      font-size: 0.825em;
      font-style: italic; }
      .woocommerce .df_cart_form table.shop_table tr td {
        border: none !important;
        padding: 0 !important;
        margin: 0 !important; }
      .woocommerce .df_cart_form table.shop_table tr a.remove {
        font-size: 0.825em;
        color: #972620 !important;
        padding: 0.5em; }
        .woocommerce .df_cart_form table.shop_table tr a.remove:hover {
          background: #972620;
          color: white !important; }
      .woocommerce .df_cart_form table.shop_table tr .product-name {
        text-align: left; }
        .woocommerce .df_cart_form table.shop_table tr .product-name .variation {
          font-size: 0.725em; }
      .woocommerce .df_cart_form table.shop_table tr .product-quantity input.input-text {
        margin: 0;
        outline: 0;
        border: 0;
        padding: 4px;
        color: #5a6d13;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none; }

.cart-collaterals {
  margin: auto;
  max-width: 1000px; }
  .cart-collaterals .cart_totals {
    width: 100%; }
