/**************************    FONTS    *******************************
 * ********************************************************************** *
 */


@font-face{
    font-family: 'lobsterregular';
    src: url('fonts/lobster/lobster-regular-webfont.eot');
    src: url('fonts/lobster/lobster-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster/lobster-regular-webfont.woff2') format('woff2'),
         url('fonts/lobster/lobster-regular-webfont.woff') format('woff'),
         url('fonts/lobster/lobster-regular-webfont.ttf') format('truetype'),
         url('fonts/lobster/lobster-regular-webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{

	font-family: 'webfontregular';
    src: url('fonts/avenir-next-lt-pro/avenirnextltpro-regular-webfont.eot');
    src: url('fonts/avenir-next-lt-pro/avenirnextltpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir-next-lt-pro/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('fonts/avenir-next-lt-pro/avenirnextltpro-regular-webfont.woff') format('woff'),
         url('fonts/avenir-next-lt-pro/avenirnextltpro-regular-webfont.ttf') format('truetype'),
         url('fonts/avenir-next-lt-pro/avenirnextltpro-regular-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'star';
    src: url('fonts/star/star.eot');
    src: url('fonts/star/star.eot?#iefix') format('embedded-opentype'),
		 url('fonts/star/star.woff2') format('woff2'),
		 url('fonts/star/star.woff') format('woff'),
         url('fonts/star/star.ttf') format('truetype'),
         url('fonts/star/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}

