
$white: #fff;
$bordo: #972620;
$green: #5a6d13;
$cream: #f3e2c8;
$olive_light: #d3d6aa;
$light_green: #a7ad55; /* #d3d6aa */
$page_font: 16px;
$padding: $page_font * 1.5;



@mixin ribbon_bg{background-image: url('images/ribbon.png');
							 background-repeat: no-repeat;
							 background-size: contain;


}

@mixin bottom_nav{
	position:fixed;
	width:100%;
	bottom:0;
	line-height: 2em;
	font-size: 0.725em;

}