

/* .screenReader { left: -9999px; position: absolute; top: -9999px; } */

/*****Forms*****/
/*
ol.forms { list-style: none; margin: 0;  }
ol.forms li {
	margin-bottom: 18px;
	width: 100%;
}
ol.forms label {
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding-right: 20px;
}
*/
/*
ol.forms input, ol.forms textarea {
	border: 1px solid #7E8AA2;
	border-radius: 3px;
	font: inherit;
	-moz-border-radius: 3px;
	padding: 2px;
	-webkit-border-radius: 3px;
}
*/
/* ol.forms textarea { max-width: 100%; } */
/* ol.forms input:focus, ol.forms textarea:focus { background-color: #f2f3f6; border-color: #ff9800; } */
/*
.error { color: #f00; }
ol.forms li .error { font-size: 12px; margin-left: 20px; }
ol.forms li.textarea .error {
	display: block;
}
ol.forms li.screenReader { margin-bottom: 0; }
ol.forms li.buttons button {
	background: #ff9800;
	border: none;
	color: #000;
	cursor: pointer;
	font: 16px/16px "Avenir LT Std", Helvetica, Arial, sans-serif;
	overflow: hidden;
	padding: 6px 3px 3px 3px;
	text-transform: uppercase;
}
ol.forms li.buttons button:hover { color: #222; }
ol.forms li.buttons, ol.forms li.inline {  }
ol.forms li.inline input { width: auto; }
ol.forms li.inline label { display: inline; float: none; width: auto; }
*/
/***********_____CF7__________************/

.wpcf7 p{
	width: 80%;
	margin: auto auto auto 5%;

	}
.wpcf7 input.wpcf7-text, .wpcf7 textarea{
    width: 45%;
    font-size: 0.725em;
    line-height: 1.725em;
	color: #5a6d13;
	margin-right: 11%;
	clear:both;
	border: 1px solid #d3d6aa;
}
.wpcf7 input.wpcf7-captchar{
	width:10%;
	margin-right: 25%;
	line-height: 1.725em;
	border: 1px solid #d3d6aa;

	}
.wpcf7-form p label{
	font-size: 0.725em;
	margin-left: 10%;
	padding-left: 12%;
	float:left;
	width:20%;
	}

.wpcf7-form p .error{
	font-size: 0.725em;
	border: none;
	color:  #972620;
	margin-left:40%;
	}

.wpcf7-submit{
  border: none !important;
  background: #a7ad55;
  color: white !important;
  font-size: 0.725em;
  width: 25%;
  clear: both;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1em;
  margin: 4% 12% auto auto;
  -webkit-transition: all 0.8s 0s;
  -moz-transition: all 0.8s 0s;
  transition: all 0.8s 0s;
  outline: none;
 }
  .wpcf7-submit:hover {
    color: white;
    background: #972620;
    -webkit-transition: all 0.8s 0s;
    -moz-transition: all 0.8s 0s;
    transition: all 0.8s 0s; }
}


.clear_all_floats{
	clear:both;
}
body span.wpcf7-not-valid-tip:nth-child(n+3) {
display: none;
}
body span.wpcf7-not-valid-tip:nth-child(n) {
color: #972620;
font-size: 0.725em;


}

form.wpcf7-form div.wpcf7-response-output{
	background: #972620;
	color: white;
	border: none !important;
	line-height: 3.725em;
	}
@media only screen and (max-width: 880px) {
.wpcf7 input.wpcf7-text, .wpcf7 textarea {
    width: 80%;

}
.wpcf7 p{
	margin: auto;
	}
.wpcf7-form p label{
	margin-left: 0;
	padding-left: 0;
	}
.wpcf7-submit{
	width: 45%;
	}
.wpcf7 input.wpcf7-captchar{
	width: 25%;
	}

}