/* #d3d6aa */
.products2 {
  margin: auto;
  width: 100%;
  text-align: center;
  line-height: 1.5em; }
  .products2 .product {
    display: inline-block;
    text-align: center;
    max-width: 90%;
    margin-bottom: 3em;
    margin-top: -2em; }
    .products2 .product ul {
      text-align: center; }
      .products2 .product ul li {
        display: inline-block;
        border-bottom: dotted #5a6d13 1px;
        margin: 1em 0 1em 2em;
        text-align: center; }
        .products2 .product ul li lable {
          padding-right: 10px; }
        .products2 .product ul li a {
          color: #5a6d13;
          background: none;
          line-height: 1em;
          margin-right: 30px; }
        .products2 .product ul li a:hover {
          color: #972620; }
    .products2 .product a {
      background: #5a6d13;
      display: inline-block;
      border-radius: 2%;
      -webkit-border-radius: 2%;
      -moz-border-radius: 2%;
      line-height: 0;
      text-decoration: none;
      color: white;
      position: relative;
      text-align: center;
      max-width: 100%; }
      .products2 .product a .wp-post-image {
        border-radius: 2%;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        opacity: 1;
        cursor: default; }
      .products2 .product a .view {
        display: none; }
      .products2 .product a:hover .view {
        display: none; }
    .products2 .product p {
      text-align: left;
      padding: 1em 0 1em 0; }
    .products2 .product h3 {
      color: #5a6d13; }

.excerpt {
  text-indent: 25px; }

/************************** * MIN WIDTH 640px *  ************************
 * **********************************************************************
 */
@media only screen and (min-width: 680px) {
  .products2 .product {
    width: 65%; } }
