@import "../bourbon/bourbon";

@import 'header.scss';

/* Highlight active form field */

 input[type=text], textarea, input[type="email"] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0.5px solid $olive_light;
  }

 input[type=text]:focus, textarea:focus, input[type="email"]:focus {
  box-shadow: 0 0 5px rgba(211, 214, 170, 1);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(211, 214, 170, 1);

}

.form-submit input#submit.submit {
  border: none !important;
							background: $light_green;
							color: white;
							text-decoration: none;
							text-align: center;
							display: block;
							padding:1em;
							margin: auto auto 100px auto;
							@include transition(all .8s 0s);
							&:hover{
								color:white;
								background: $bordo;
								@include transition(all .8s 0s);
								}
}
 input#submit.submit:focus{
	    outline: none;
    }

.comment-form-comment{
	label{
		font-size: 0.725em;
	}
	#comment{
		width: 60%;
		@media only screen and (max-width: 679px){
				width: 80%;
		}
	}
}
#comments{
	width: 90%;
	margin: auto;
}
.comment-list{
	text-align: center;

	.comment{
				padding: 0.275em;
			.comment-awaiting-moderation{
					font-size: 0.725em;
					color: $bordo;
					line-height: 0.275em;
			}
			p{
				clear: both;
				font-size: 0.825em;
				background: white;
					 opacity: 0.7;
					 padding: 1em;
				font-style: italic;
					 -webkit-box-shadow: 10px 10px 6px -6px rgba(0,0,0,0.16);
					 -moz-box-shadow: 10px 10px 6px -6px rgba(0,0,0,0.16);
					 box-shadow: 10px 10px 6px -6px rgba(0,0,0,0.16);
					 &::before{
						 content:"\0022  ";
					 }
					 &::after{
						 content:" \0022";
					 }
			}
			.comment-author{
				padding: 0.5em;
				font-size: 0.725em;
				text-align: center;
				float: left;
				width: 40%;
				text-decoration: underline;
			}
			.comment-meta{
			padding: 0.5em;
			font-size: 0.725em;
			width: 50%;
			float: left;
				a{
					text-decoration: none;
					color: #000;

				}
						.comment-edit-link{
							background: $light_green;
							color: white;
							text-decoration: none;
							text-align: center;
							display: block;
							padding: 0.275em 0 0.275em 0;
							margin: 0;
							width: 30%;
							float: right;
							@include transition(all .8s 0s);
							&:hover{
								color:white;
								background: $bordo;
								@include transition(all .8s 0s);
								}
						}

			}
			.reply{
				text-align: center;
				padding: 0.275em;
				clear: both;
				width: 25%;
					a{
							background: $light_green;
							color: white;
							text-decoration: none;
							text-align: center;
							display: block;
							padding: 0.275em 0 0.275em 0;
							margin: 0 ;
							font-size: 0.725em;
							@include transition(all .8s 0s);
							&:hover{
								color:white;
								background: $bordo;
								@include transition(all .8s 0s);
								}
					}
			}


	}

}
#comment_pagination{
		h6{
			font-size: 1em;
			padding: 0;
			display: none;
		}
		div{
				padding: 0.5em 0 2em 0;


								a{
							background: $olive_light;
							color: black;
							text-decoration: none;
							text-align: center;
							display: block;
							padding: 0.275em 0 0.275em 0;
							margin: 0 ;
							font-size: 0.725em;
							@include transition(all .8s 0s);
							&:hover{
								color:$green;
								background: white;
								@include transition(all .8s 0s);
								}
					}


		}
}
#respond{
	h3{
		color: $green;
		font-size: 1.275em;
		a{
			color: $green;
			&::before, &::after{
				content: " \00a0\00a0\00a0 ";
			}
		}
		small{
			a{
				color: $bordo;
				text-decoration: none;
				&:hover{
					color:$green;
				}
			}
		}
	}
}
#welcome_user{
		font-family: 'lobsterregular';
		color: $bordo;
		font-size: 1.5em;
}
#commentform{
	p{
							.required{
						font-size: 0.625em;
					}

	}
}
.df_messege{
	margin: 1em 0 2em 0;
}
//errors
/* Basic styling */
#commentform input.error, #commentform textarea.error {
	border: none !important;
}
#commentform div.error{
	color: $bordo !important;
}
#commentform div.errorlabels label {
	display: block;
}
