/* #d3d6aa */
#categories_blog_menu {
  text-align: center;
  width: 100%;
  background: #972620;
  display: block;
  margin: 0 0 10% 0; }
  #categories_blog_menu ul li {
    display: inline-block;
    padding: 1%;
    list-style: none;
    cursor: pointer;
    font-size: 0.725em; }
    #categories_blog_menu ul li a {
      color: white;
      text-decoration: none; }
    #categories_blog_menu ul li:hover a {
      color: #f3e2c8;
      text-decoration: underline; }

.pagination h2 {
  display: none; }

.pagination .nav-links {
  color: white; }
  .pagination .nav-links span {
    background: #972620;
    padding: 2px 5px 2px 5px;
    margin: 0;
    font-size: 0.875em; }
  .pagination .nav-links a {
    background: #a7ad55;
    text-decoration: none;
    border: none;
    padding: 2px 5px 2px 5px;
    margin: 0;
    border: 0;
    color: white;
    font-size: 0.875em; }
    .pagination .nav-links a:hover {
      background: #972620; }

/**************************    MAX WIDTH 720px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 720px) {
  #categories_blog_menu ul li {
    display: block; } }
