@import "../bourbon/bourbon";

@import 'header.scss';

.products2{
		margin: auto;
		width: 100%;
		text-align: center;
// 		max-width: 1000px;
		line-height: 1.5em;
	.product{
			display: inline-block;
			text-align: center;
			max-width: 90%;
			margin-bottom: 3em;
			margin-top: -2em;
			ul{
				text-align: center;
				li{
					display: inline-block;
					border-bottom: dotted $green 1px;
					margin:1em 0 1em 2em;

					text-align: center;
					lable{
						padding-right: 10px;
					}
					a{
						color:$green;
						background: none;
						line-height: 1em;
						margin-right: 30px;

					}
					a:hover{
							color: $bordo;
						}
				}
			}
			a{
					background: $green;
					display: inline-block;
					 border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 line-height: 0;
					 text-decoration: none;
						color: white;
						position: relative;
						text-align: center;
						max-width: 100%;
					.wp-post-image {
					  border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 opacity: 1;
					 cursor: default;

					}
					.view{
						display: none;
					}
					&:hover .view{
						display: none;
					}

			}


		p{
			text-align: left;
			padding: 1em 0 1em 0;

		}
		h3{
			color: $green;
		}

	}

}
	.excerpt{
	text-indent: 25px;
}


/************************** * MIN WIDTH 640px *  ************************
 * **********************************************************************
 */


@media only screen and (min-width: 680px){

		.products2 .product{
		width: 65%;

			p{

		}
	}
}
