/* #d3d6aa */
/* Highlight active form field */
input[type=text], textarea, input[type="email"] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0.5px solid #d3d6aa; }

input[type=text]:focus, textarea:focus, input[type="email"]:focus {
  box-shadow: 0 0 5px #d3d6aa;
  margin: 5px 1px 3px 0px;
  border: 1px solid #d3d6aa; }

.form-submit input#submit.submit {
  border: none !important;
  background: #a7ad55;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1em;
  margin: auto auto 100px auto;
  -webkit-transition: all 0.8s 0s;
  -moz-transition: all 0.8s 0s;
  transition: all 0.8s 0s; }
  .form-submit input#submit.submit:hover {
    color: white;
    background: #972620;
    -webkit-transition: all 0.8s 0s;
    -moz-transition: all 0.8s 0s;
    transition: all 0.8s 0s; }

input#submit.submit:focus {
  outline: none; }

.comment-form-comment label {
  font-size: 0.725em; }

.comment-form-comment #comment {
  width: 60%; }
  @media only screen and (max-width: 679px) {
    .comment-form-comment #comment {
      width: 80%; } }

#comments {
  width: 90%;
  margin: auto; }

.comment-list {
  text-align: center; }
  .comment-list .comment {
    padding: 0.275em; }
    .comment-list .comment .comment-awaiting-moderation {
      font-size: 0.725em;
      color: #972620;
      line-height: 0.275em; }
    .comment-list .comment p {
      clear: both;
      font-size: 0.825em;
      background: white;
      opacity: 0.7;
      padding: 1em;
      font-style: italic;
      -webkit-box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.16);
      box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.16); }
      .comment-list .comment p::before {
        content: "\0022  "; }
      .comment-list .comment p::after {
        content: " \0022"; }
    .comment-list .comment .comment-author {
      padding: 0.5em;
      font-size: 0.725em;
      text-align: center;
      float: left;
      width: 40%;
      text-decoration: underline; }
    .comment-list .comment .comment-meta {
      padding: 0.5em;
      font-size: 0.725em;
      width: 50%;
      float: left; }
      .comment-list .comment .comment-meta a {
        text-decoration: none;
        color: #000; }
      .comment-list .comment .comment-meta .comment-edit-link {
        background: #a7ad55;
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 0.275em 0 0.275em 0;
        margin: 0;
        width: 30%;
        float: right;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }
        .comment-list .comment .comment-meta .comment-edit-link:hover {
          color: white;
          background: #972620;
          -webkit-transition: all 0.8s 0s;
          -moz-transition: all 0.8s 0s;
          transition: all 0.8s 0s; }
    .comment-list .comment .reply {
      text-align: center;
      padding: 0.275em;
      clear: both;
      width: 25%; }
      .comment-list .comment .reply a {
        background: #a7ad55;
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 0.275em 0 0.275em 0;
        margin: 0;
        font-size: 0.725em;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }
        .comment-list .comment .reply a:hover {
          color: white;
          background: #972620;
          -webkit-transition: all 0.8s 0s;
          -moz-transition: all 0.8s 0s;
          transition: all 0.8s 0s; }

#comment_pagination h6 {
  font-size: 1em;
  padding: 0;
  display: none; }

#comment_pagination div {
  padding: 0.5em 0 2em 0; }
  #comment_pagination div a {
    background: #d3d6aa;
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.275em 0 0.275em 0;
    margin: 0;
    font-size: 0.725em;
    -webkit-transition: all 0.8s 0s;
    -moz-transition: all 0.8s 0s;
    transition: all 0.8s 0s; }
    #comment_pagination div a:hover {
      color: #5a6d13;
      background: white;
      -webkit-transition: all 0.8s 0s;
      -moz-transition: all 0.8s 0s;
      transition: all 0.8s 0s; }

#respond h3 {
  color: #5a6d13;
  font-size: 1.275em; }
  #respond h3 a {
    color: #5a6d13; }
    #respond h3 a::before, #respond h3 a::after {
      content: " \00a0\00a0\00a0 "; }
  #respond h3 small a {
    color: #972620;
    text-decoration: none; }
    #respond h3 small a:hover {
      color: #5a6d13; }

#welcome_user {
  font-family: 'lobsterregular';
  color: #972620;
  font-size: 1.5em; }

#commentform p .required {
  font-size: 0.625em; }

.df_messege {
  margin: 1em 0 2em 0; }

/* Basic styling */
#commentform input.error, #commentform textarea.error {
  border: none !important; }

#commentform div.error {
  color: #972620 !important; }

#commentform div.errorlabels label {
  display: block; }
