@import 'header.scss';
	#categories_blog_menu{
		text-align: center;
		width: 100%;
		background: $bordo;
		display: block;
		margin: 0 0 10% 0;
			ul{
					li{
						display: inline-block;
						padding: 1%;
						list-style: none;
						cursor: pointer;
						font-size: 0.725em;
								a{
									color: white;
									text-decoration: none;
								}
							&:hover{
								a{
									color:$cream;
									text-decoration: underline;
								}

							}

					}

			}

	}
	.pagination{
		h2{
			display: none;
		}
		.nav-links{
			color:white;
							span{
							background: $bordo;
							padding: 2px 5px 2px 5px;
							margin: 0;
							font-size: 0.875em;
							}
							a{
							background: $light_green;
							text-decoration: none;
							border: none;
							padding: 2px 5px 2px 5px;
							margin: 0;
							border: 0;
							color:white;
							font-size: 0.875em;
							&:hover{
								background: $bordo;
							}
							}
		}
	}

/**************************    MAX WIDTH 720px     **********************
 * **********************************************************************
 */

@media only screen and (max-width: 720px){

	#categories_blog_menu{
			ul{
					li{
						display: block;
					}

			}

	}
}