/* page-about.css */

.page_content{
	 background: url('../images/about_instore.jpg') no-repeat;
	 background-size:cover;
	 background-position: center top;
	 color: black;
	 padding: 10%;
	 font-size: 1.275em;

}
.wp_description_bg{
	background: rgb(255,255,255); /* The Fallback */
	background: rgba(255,255,255,0.8);
}
 .wp_about_description{
	padding: 10% 5% 10% 5%;
	 text-indent: 25px;
}

.circles_staff img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 6px solid #5a6d13;
  display: block;
  position: relative;
  top: 0;
  left: 15%;
  margin-bottom: 5px; }

.circles_staff {
  margin: auto;
  width: 100%;
  text-align: center;
  max-width: 1100px; }

.circle_staff {
  display: inline-block;
  text-align: center;
  margin: 0 0.725em 0 0.725em; }
  .circle_staff p {
    width: 260px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 1em;
    text-indent: 25px;
    }
  .circle_staff h3 {
    color: #5a6d13; }
