@import "../bourbon/bourbon";

@import 'header.scss';

.woocommerce-breadcrumb{

	text-align: left;
	padding-left: 2em;
	z-index:200;
	color: 	$bordo !important;
	@include bottom_nav;
	a{
		color:$green;
		text-decoration: none;
	}
	a:active{
		color: $bordo;
	}

	a:hover{
		color: $bordo;
	}
}
.woocommerce-result-count{
	text-align: center;
	background: $cream;
	z-index:100;
	color: 	$green !important;
	@include bottom_nav;

}
.bottom_background_creme{
	background: $cream;
}
#categories_product_menu{
		text-align: center;
		width: 100%;
		background: $bordo;
		display: block;
		margin: 0 0 50px 0;
			ul{
 					li{
						display: inline-block;
						padding: 1%;
						list-style: none;
						cursor: pointer;
						font-size: 0.725em;
								a{
									text-decoration: none;
									color: white;


								}
							&:hover{
								a{
									color:$cream;
									text-decoration: underline;
								}

							}
							.df_selected_category{
										text-decoration: underline;
										color: $cream;
								}
						}

			}

}
.df_products{
		margin: auto;
		width: 100%;
		text-align: center;
		max-width: 1000px;
		padding-top: 20px;
	.df_product{
			display: inline-block;
			text-align: center;
			max-width: 90%;
			margin-bottom: 3em;
			margin-top: -2em;
			position: relative;
			ul{
				li{
					display: inline-block;
					border-bottom: dotted $green 1px;
					margin:0 0 10px 20px;
				}
			}
			h3{
							color: $green;
					}
			.df_price_display_archive{
				.price{
					float: left;
					margin-left: 20px;
					&::before{
						content: 'Price: ';
					}
					ins{
						text-decoration: none;
						ins:before{

						}
					}

				 	del{
							display: none;
						}
				}
			}
			.add_to_cart_button{
				clear:both;
				background: $light_green;
				color: white;
				text-decoration: none;
				text-align: center;
				display: block;
				padding: 1em 0 1em 0;
				margin: 0 0 1em 1em;
				max-width: 90%;
				line-height: 1em;
				font-size: 1em;
				border: 0;
				@include transition(all .8s 0s);
				&:hover{
					color:white;
					background: $bordo;
					@include transition(all .8s 0s);
				}
			}
			.added_to_cart{
				position: absolute;
				bottom: 0;
				z-index: 300;
				background: $bordo;
				display: block;
				width: 90%;
				padding: 1em 0 1em 0;
				margin: 0 0 1em 1em;
				line-height: 1em;

			}

			a{
					background: $green;
					margin: 0 1em 0 1em;
					display: inline-block;
					 border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 line-height: 0;
					 text-decoration: none;
						color: white;
						position: relative;
						text-align: center;
						max-width: 95%;
					.wp-post-image {
					  max-width: 100%;
					  border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 opacity: 1;
					 display: block;
				    height: auto;

					}
					&:hover .wp-post-image{
						opacity: 0.6;
						@include transition(all .8s 0s);
					}
					.onsale{
						position: absolute;
						text-align: center;
						color: white;
						top: -10px;
						right: -10px;
						z-index: 10;
						font-size: 0.925em;
						line-height:1em;
						background: url('../images/sale_bg.png') no-repeat;
						padding-top: 22px;
						width: 65px;
						height: 65px;
					}

					.view{
						display: none;
					}
					&:hover .view{
						display: block;
						font-size: 1.275em;
						position: absolute;
						top:40%;
					    left:50%;
					    margin-left:-40px;
					}


			}
/* Single Product */

			.summary{
				float: left;
				width: 34%;
				margin-left: 90px;
				text-align: center;
				h1{
					font-size: 3em;
				}
				.description p{
					max-width: 60%;
				}
				.product_meta{
					font-size: 0.725em;
					.posted_in{
						display: none;
					}
				}
				.df_product_price{
					margin-bottom: 5%;
					p.price{
					font-size: 1em;
					color: $bordo;
						del{
							font-size: 0.875em;
							padding: 1em;
						}
						ins{
							font-size: 1em;
							font-weight: bold;
							}
					}
				}
				.woocommerce-variation .woocommerce-variation-price{
					&::before{
						content: 'Price ';
					}
					font-size: 1em;
					color: $bordo;
						del{
							font-size: 0.875em;
							padding: 1em;
						}
						ins{
							font-size: 1em;
							font-weight: bold;
							}
				}
				p.in-stock{
							padding-top: 2em;
							color: $bordo;
						}
				.cart {
				margin-top: 10%;

					.variations{
						margin: auto;
						.label{
							padding:0 0 0 1em;
							margin: 0;
							background: $light_green;
							color: white;
							font-size: 0.775em;
						}
						.value{
							   width: 165px;
							   height: 34px;
							   overflow: hidden;
							   background: url('../images/select_arrow.png') no-repeat top right $light_green;
							a{
								display: none;
							}
							select{
								background: transparent;
							   width: 165px;
							   padding:0 15px 5px 15px;
							   margin-top: -50px;
							   line-height: 2em;
							   font-size: 14px;
							   border: 0;
							   border-radius: 0;
							   height:34px;
								color:white;
							   -webkit-appearance: none;
							   -moz-appearance:none;
							   -ms-appearance:none;
							   -o-appearance:none;
							    appearance: none;
							  outline: 0;

							  &:-moz-focusring {
									color: transparent;
								    text-shadow: 0 0 0 #000;
								}
							&:-ms-expand {
								    display: none;
								}
								&:focus{
									outline: 0;
								}
								option{
									color:white;
									padding: 5px;
								}
							}
						}
					}

						.quantity{
								font-size: 1em;
								margin: auto;
								padding-right: 45px;
							input.input-text{
								height: 35px;
								width: 80px;
								padding: 0 5px 0 1em;
								float: right;
								margin:0;
								outline: 0;
								border: 0;
								width: 50px;
								font-size: 1em;
								background: $light_green;
								color:white;
							   -webkit-appearance: none;
							   -moz-appearance:none;
							   -ms-appearance:none;
							   -o-appearance:none;
							    appearance: none;
							}

						}
						.single_add_to_cart_button{
								float:right;
								margin: 0 0 20px 0;
								height: 35px;
								width: 120px;
								border: 0;
								background: $light_green;
								color: white;
								text-decoration: none;
								text-align: center;
								display: block;
								font-size: 0.775em;
								@include transition(all .8s 0s);
								&:hover{
									color:white;
									background: $bordo;
									@include transition(all .8s 0s);
								}
								&:focus{
									outline: 0;
									border: 0;
								}
							}

				}
				.product_meta{
					clear:both;
				}
			}
			.images{
				float: right;
				width: 40%;
				margin-right: 90px;
				padding: 0;
				position: relative;
				.thumbnails a{
					padding: 0;
					margin: 5px;
				}
			}
			#reviews{
				clear: both;
				padding-top: 4em;
				margin-bottom: -100px;
				#respond{
					clear:both;
				}
			}
			.onsale{
						position: absolute;
						text-align: center;
						color: white;
						top: -10px;
						right:45px;
						z-index: 10;
						font-size: 0.925em;
						line-height:1em;
						background: url('../images/sale_bg.png') no-repeat;
						padding-top: 22px;
						width: 65px;
						height: 65px;
			}
		.related.products{
			h2{
				padding-bottom: 50px;
			}
			.df_price_display_archive, .onsale, .add_to_cart_button{
				display: none;
			}
		}
		.comment-form-rating .stars a{
			opacity: 1;
		    visibility: hidden;
		    max-width: 20px;
			margin: 3px;
			font-family: "star";
			color:white;
			&:before{
				content: "\53";
				font-family: "star";
			    opacity: 1;
			    visibility: visible;
				color: $bordo;
// 				color: $light_green;
			}


		}
		.comment-form-rating .stars a:hover ~ a:before  {
			content: "\53";
			color: white;
// 			color: $bordo;
		}


	}
}
 .star-rating span {
	 float: right;
	 color: $bordo;
	 margin-right: 25px;
}
.meta{
	float: left;
}
.description{
	clear:both;
				p{
				clear: both;
				font-size: 0.825em;
				margin-bottom: 2em;
				background: white;
					 opacity: 0.7;
					 padding: 1em;
				font-style: italic;
					 -webkit-box-shadow: 10px 10px 6px -6px rgba(0,0,0,0.16);
					 -moz-box-shadow: 10px 10px 6px -6px rgba(0,0,0,0.16);
					 box-shadow: 10px 10px 6px -6px rgba(0,0,0,0.16);
					 &::before{
						 content:"\0022  ";
					 }
					 &::after{
						 content:" \0022";
					 }
			}

}
.excerpt{
	text-indent: 25px;
}
.comment-form-comment{
	label{
		display: none;
	}
}
.thumbnails{
			a{
					background: $green;
					margin: 0 1em 0 1em;
					display: inline-block;
					 border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 line-height: 0;
					 text-decoration: none;
						color: white;
						position: relative;
						text-align: center;
						max-width: 95%;
					.attachment-shop_thumbnail {
					  max-width: 100%;
					  border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 opacity: 1;
					 display: block;
				    height: auto;

					}
					&:hover .attachment-shop_thumbnail{
						opacity: 0.6;
						@include transition(all .8s 0s);
					}

	}

}
.woocommerce-message, .woocommerce-error{
	background: $green;
	color: white;
	border: none !important;
	line-height: 3.725em;
	margin: -50px 0 100px 0;
	font-size: 0.875em;
		a{
			color: $cream;
			padding: 5px;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}

}

#comments{
		.woocommerce-pagination{
			ul.page-numbers{
				li{
					span{
						padding: 3px 5px 3px 5px;
							}
						}
					}
				}
}
			.woocommerce-pagination{
				margin: auto auto 20px auto;
				width: 100px;
					ul.page-numbers{
						border: 0;
						display: inline;
						li{
							border: 0;
							float:left;
							margin: 4px;
							span{
							background: $bordo;
							padding: 5px;
							font-size: 0.875em;
							color:white;
							}
							a{
							background: $light_green;
							text-decoration: none;
							border: none;
							padding: 5px;
							margin: 0;
							border: 0;
							font-size: 0.875em;
							line-height: 1em;
							color:white;
							&:hover{
								background: $bordo;
							}
							}
						}
					}
				}




/**************************    MAX WIDTH 780px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 780px) {
  #categories_product_menu {
	  		margin: 0 0 70px 0;
	  ul li {
	  	display: block;
    }
   }

.df_products{
    .df_product{

	   		.summary{
				width: 93%;
				margin-left: 1em;
				padding: 0;
				.cart .quantity{
					padding-right: 13em;
				}
			}
			.images{
				width: 93%;
				margin-right: 1em;
				padding: 0;
			}
    	}
    }

 }
/**************************    MAX WIDTH 640px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 640px) {
  #categories_product_menu {
	  		margin: 0 0 70px 0;
	  ul li {
	  	display: block;
    }
   }

.df_products{
    .df_product{

	   		.summary{
				width: 93%;
				margin-left: 1em;
				padding: 0;
				.cart .quantity{
					padding-right: 10em;
				}
			}
			.images{
				width: 93%;
				margin-right: 1em;
				padding: 0;
			}
    	}
    }

 }
 .woocommerce-breadcrumb,
.woocommerce-result-count{
	display: block;
}

 /**************************    MAX WIDTH 560px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 560px) {
	.woocommerce-breadcrumb{
		display: none;
	}
  #categories_product_menu {
	  		margin: 0 0 70px 0;
	  ul li {
	  	display: block;
    }
   }

.df_products{
    .df_product{

	   		.summary{
				width: 93%;
				margin-left: 1em;
				padding: 0;
				.cart .quantity{
					padding-right: 7em;
				}
			}
			.images{
				width: 93%;
				margin-right: 1em;
				padding: 0;
			}
    	}
    }

 }

  /**************************    MAX WIDTH 420px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 420px) {
  #categories_product_menu {
	  		margin: 0 0 70px 0;
	  ul li {
	  	display: block;
    }
   }

.df_products{
    .df_product{

	   		.summary{
				width: 93%;
				margin-left: 1em;
				padding: 0;
				.cart .quantity{
					padding-right: 4em;
				}
			}
			.images{
				width: 93%;
				margin-right: 1em;
				padding: 0;
			}
    	}
    }

 }


