/* #d3d6aa */
.woocommerce-breadcrumb {
  text-align: left;
  padding-left: 2em;
  z-index: 200;
  color: #972620 !important;
  position: fixed;
  width: 100%;
  bottom: 0;
  line-height: 2em;
  font-size: 0.725em; }
  .woocommerce-breadcrumb a {
    color: #5a6d13;
    text-decoration: none; }
  .woocommerce-breadcrumb a:active {
    color: #972620; }
  .woocommerce-breadcrumb a:hover {
    color: #972620; }

.woocommerce-result-count {
  text-align: center;
  background: #f3e2c8;
  z-index: 100;
  color: #5a6d13 !important;
  position: fixed;
  width: 100%;
  bottom: 0;
  line-height: 2em;
  font-size: 0.725em; }

.bottom_background_creme {
  background: #f3e2c8; }

#categories_product_menu {
  text-align: center;
  width: 100%;
  background: #972620;
  display: block;
  margin: 0 0 50px 0; }
  #categories_product_menu ul li {
    display: inline-block;
    padding: 1%;
    list-style: none;
    cursor: pointer;
    font-size: 0.725em; }
    #categories_product_menu ul li a {
      text-decoration: none;
      color: white; }
    #categories_product_menu ul li:hover a {
      color: #f3e2c8;
      text-decoration: underline; }
    #categories_product_menu ul li .df_selected_category {
      text-decoration: underline;
      color: #f3e2c8; }

.df_products {
  margin: auto;
  width: 100%;
  text-align: center;
  max-width: 1000px;
  padding-top: 20px; }
  .df_products .df_product {
    display: inline-block;
    text-align: center;
    max-width: 90%;
    margin-bottom: 3em;
    margin-top: -2em;
    position: relative;
    /* Single Product */ }
    .df_products .df_product ul li {
      display: inline-block;
      border-bottom: dotted #5a6d13 1px;
      margin: 0 0 10px 20px; }
    .df_products .df_product h3 {
      color: #5a6d13; }
    .df_products .df_product .df_price_display_archive .price {
      float: left;
      margin-left: 20px; }
      .df_products .df_product .df_price_display_archive .price::before {
        content: 'Price: '; }
      .df_products .df_product .df_price_display_archive .price ins {
        text-decoration: none; }
      .df_products .df_product .df_price_display_archive .price del {
        display: none; }
    .df_products .df_product .add_to_cart_button {
      clear: both;
      background: #a7ad55;
      color: white;
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 1em 0 1em 0;
      margin: 0 0 1em 1em;
      max-width: 90%;
      line-height: 1em;
      font-size: 1em;
      border: 0;
      -webkit-transition: all 0.8s 0s;
      -moz-transition: all 0.8s 0s;
      transition: all 0.8s 0s; }
      .df_products .df_product .add_to_cart_button:hover {
        color: white;
        background: #972620;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }
    .df_products .df_product .added_to_cart {
      position: absolute;
      bottom: 0;
      z-index: 300;
      background: #972620;
      display: block;
      width: 90%;
      padding: 1em 0 1em 0;
      margin: 0 0 1em 1em;
      line-height: 1em; }
    .df_products .df_product a {
      background: #5a6d13;
      margin: 0 1em 0 1em;
      display: inline-block;
      border-radius: 2%;
      -webkit-border-radius: 2%;
      -moz-border-radius: 2%;
      line-height: 0;
      text-decoration: none;
      color: white;
      position: relative;
      text-align: center;
      max-width: 95%; }
      .df_products .df_product a .wp-post-image {
        max-width: 100%;
        border-radius: 2%;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        opacity: 1;
        display: block;
        height: auto; }
      .df_products .df_product a:hover .wp-post-image {
        opacity: 0.6;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }
      .df_products .df_product a .onsale {
        position: absolute;
        text-align: center;
        color: white;
        top: -10px;
        right: -10px;
        z-index: 10;
        font-size: 0.925em;
        line-height: 1em;
        background: url("../images/sale_bg.png") no-repeat;
        padding-top: 22px;
        width: 65px;
        height: 65px; }
      .df_products .df_product a .view {
        display: none; }
      .df_products .df_product a:hover .view {
        display: block;
        font-size: 1.275em;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-left: -40px; }
    .df_products .df_product .summary {
      float: left;
      width: 34%;
      margin-left: 90px;
      text-align: center; }
      .df_products .df_product .summary h1 {
        font-size: 3em; }
      .df_products .df_product .summary .description p {
        max-width: 60%; }
      .df_products .df_product .summary .product_meta {
        font-size: 0.725em; }
        .df_products .df_product .summary .product_meta .posted_in {
          display: none; }
      .df_products .df_product .summary .df_product_price {
        margin-bottom: 5%; }
        .df_products .df_product .summary .df_product_price p.price {
          font-size: 1em;
          color: #972620; }
          .df_products .df_product .summary .df_product_price p.price del {
            font-size: 0.875em;
            padding: 1em; }
          .df_products .df_product .summary .df_product_price p.price ins {
            font-size: 1em;
            font-weight: bold; }
      .df_products .df_product .summary .woocommerce-variation .woocommerce-variation-price {
        font-size: 1em;
        color: #972620; }
        .df_products .df_product .summary .woocommerce-variation .woocommerce-variation-price::before {
          content: 'Price '; }
        .df_products .df_product .summary .woocommerce-variation .woocommerce-variation-price del {
          font-size: 0.875em;
          padding: 1em; }
        .df_products .df_product .summary .woocommerce-variation .woocommerce-variation-price ins {
          font-size: 1em;
          font-weight: bold; }
      .df_products .df_product .summary p.in-stock {
        padding-top: 2em;
        color: #972620; }
      .df_products .df_product .summary .cart {
        margin-top: 10%; }
        .df_products .df_product .summary .cart .variations {
          margin: auto; }
          .df_products .df_product .summary .cart .variations .label {
            padding: 0 0 0 1em;
            margin: 0;
            background: #a7ad55;
            color: white;
            font-size: 0.775em; }
          .df_products .df_product .summary .cart .variations .value {
            width: 165px;
            height: 34px;
            overflow: hidden;
            background: url("../images/select_arrow.png") no-repeat top right #a7ad55; }
            .df_products .df_product .summary .cart .variations .value a {
              display: none; }
            .df_products .df_product .summary .cart .variations .value select {
              background: transparent;
              width: 165px;
              padding: 0 15px 5px 15px;
              margin-top: -50px;
              line-height: 2em;
              font-size: 14px;
              border: 0;
              border-radius: 0;
              height: 34px;
              color: white;
              -webkit-appearance: none;
              -moz-appearance: none;
              -ms-appearance: none;
              -o-appearance: none;
              appearance: none;
              outline: 0; }
              .df_products .df_product .summary .cart .variations .value select:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000; }
              .df_products .df_product .summary .cart .variations .value select:-ms-expand {
                display: none; }
              .df_products .df_product .summary .cart .variations .value select:focus {
                outline: 0; }
              .df_products .df_product .summary .cart .variations .value select option {
                color: white;
                padding: 5px; }
        .df_products .df_product .summary .cart .quantity {
          font-size: 1em;
          margin: auto;
          padding-right: 45px; }
          .df_products .df_product .summary .cart .quantity input.input-text {
            height: 35px;
            width: 80px;
            padding: 0 5px 0 1em;
            float: right;
            margin: 0;
            outline: 0;
            border: 0;
            width: 50px;
            font-size: 1em;
            background: #a7ad55;
            color: white;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none; }
        .df_products .df_product .summary .cart .single_add_to_cart_button {
          float: right;
          margin: 0 0 20px 0;
          height: 35px;
          width: 120px;
          border: 0;
          background: #a7ad55;
          color: white;
          text-decoration: none;
          text-align: center;
          display: block;
          font-size: 0.775em;
          -webkit-transition: all 0.8s 0s;
          -moz-transition: all 0.8s 0s;
          transition: all 0.8s 0s; }
          .df_products .df_product .summary .cart .single_add_to_cart_button:hover {
            color: white;
            background: #972620;
            -webkit-transition: all 0.8s 0s;
            -moz-transition: all 0.8s 0s;
            transition: all 0.8s 0s; }
          .df_products .df_product .summary .cart .single_add_to_cart_button:focus {
            outline: 0;
            border: 0; }
      .df_products .df_product .summary .product_meta {
        clear: both; }
    .df_products .df_product .images {
      float: right;
      width: 40%;
      margin-right: 90px;
      padding: 0;
      position: relative; }
      .df_products .df_product .images .thumbnails a {
        padding: 0;
        margin: 5px; }
    .df_products .df_product #reviews {
      clear: both;
      padding-top: 4em;
      margin-bottom: -100px; }
      .df_products .df_product #reviews #respond {
        clear: both; }
    .df_products .df_product .onsale {
      position: absolute;
      text-align: center;
      color: white;
      top: -10px;
      right: 45px;
      z-index: 10;
      font-size: 0.925em;
      line-height: 1em;
      background: url("../images/sale_bg.png") no-repeat;
      padding-top: 22px;
      width: 65px;
      height: 65px; }
    .df_products .df_product .related.products h2 {
      padding-bottom: 50px; }
    .df_products .df_product .related.products .df_price_display_archive, .df_products .df_product .related.products .onsale, .df_products .df_product .related.products .add_to_cart_button {
      display: none; }
    .df_products .df_product .comment-form-rating .stars a {
      opacity: 1;
      visibility: hidden;
      max-width: 20px;
      margin: 3px;
      font-family: "star";
      color: white; }
      .df_products .df_product .comment-form-rating .stars a:before {
        content: "\53";
        font-family: "star";
        opacity: 1;
        visibility: visible;
        color: #972620; }
    .df_products .df_product .comment-form-rating .stars a:hover ~ a:before {
      content: "\53";
      color: white; }

.star-rating span {
  float: right;
  color: #972620;
  margin-right: 25px; }

.meta {
  float: left; }

.description {
  clear: both; }
  .description p {
    clear: both;
    font-size: 0.825em;
    margin-bottom: 2em;
    background: white;
    opacity: 0.7;
    padding: 1em;
    font-style: italic;
    -webkit-box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.16);
    box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.16); }
    .description p::before {
      content: "\0022  "; }
    .description p::after {
      content: " \0022"; }

.excerpt {
  text-indent: 25px; }

.comment-form-comment label {
  display: none; }

.thumbnails a {
  background: #5a6d13;
  margin: 0 1em 0 1em;
  display: inline-block;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  line-height: 0;
  text-decoration: none;
  color: white;
  position: relative;
  text-align: center;
  max-width: 95%; }
  .thumbnails a .attachment-shop_thumbnail {
    max-width: 100%;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    opacity: 1;
    display: block;
    height: auto; }
  .thumbnails a:hover .attachment-shop_thumbnail {
    opacity: 0.6;
    -webkit-transition: all 0.8s 0s;
    -moz-transition: all 0.8s 0s;
    transition: all 0.8s 0s; }

.woocommerce-message, .woocommerce-error {
  background: #5a6d13;
  color: white;
  border: none !important;
  line-height: 3.725em;
  margin: -50px 0 100px 0;
  font-size: 0.875em; }
  .woocommerce-message a, .woocommerce-error a {
    color: #f3e2c8;
    padding: 5px;
    text-decoration: none; }
    .woocommerce-message a:hover, .woocommerce-error a:hover {
      text-decoration: underline; }

#comments .woocommerce-pagination ul.page-numbers li span {
  padding: 3px 5px 3px 5px; }

.woocommerce-pagination {
  margin: auto auto 20px auto;
  width: 100px; }
  .woocommerce-pagination ul.page-numbers {
    border: 0;
    display: inline; }
    .woocommerce-pagination ul.page-numbers li {
      border: 0;
      float: left;
      margin: 4px; }
      .woocommerce-pagination ul.page-numbers li span {
        background: #972620;
        padding: 5px;
        font-size: 0.875em;
        color: white; }
      .woocommerce-pagination ul.page-numbers li a {
        background: #a7ad55;
        text-decoration: none;
        border: none;
        padding: 5px;
        margin: 0;
        border: 0;
        font-size: 0.875em;
        line-height: 1em;
        color: white; }
        .woocommerce-pagination ul.page-numbers li a:hover {
          background: #972620; }

/**************************    MAX WIDTH 780px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 780px) {
  #categories_product_menu {
    margin: 0 0 70px 0; }
    #categories_product_menu ul li {
      display: block; }
  .df_products .df_product .summary {
    width: 93%;
    margin-left: 1em;
    padding: 0; }
    .df_products .df_product .summary .cart .quantity {
      padding-right: 13em; }
  .df_products .df_product .images {
    width: 93%;
    margin-right: 1em;
    padding: 0; } }

/**************************    MAX WIDTH 640px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 640px) {
  #categories_product_menu {
    margin: 0 0 70px 0; }
    #categories_product_menu ul li {
      display: block; }
  .df_products .df_product .summary {
    width: 93%;
    margin-left: 1em;
    padding: 0; }
    .df_products .df_product .summary .cart .quantity {
      padding-right: 10em; }
  .df_products .df_product .images {
    width: 93%;
    margin-right: 1em;
    padding: 0; } }

.woocommerce-breadcrumb,
.woocommerce-result-count {
  display: block; }

/**************************    MAX WIDTH 560px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 560px) {
  .woocommerce-breadcrumb {
    display: none; }
  #categories_product_menu {
    margin: 0 0 70px 0; }
    #categories_product_menu ul li {
      display: block; }
  .df_products .df_product .summary {
    width: 93%;
    margin-left: 1em;
    padding: 0; }
    .df_products .df_product .summary .cart .quantity {
      padding-right: 7em; }
  .df_products .df_product .images {
    width: 93%;
    margin-right: 1em;
    padding: 0; } }

/**************************    MAX WIDTH 420px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 420px) {
  #categories_product_menu {
    margin: 0 0 70px 0; }
    #categories_product_menu ul li {
      display: block; }
  .df_products .df_product .summary {
    width: 93%;
    margin-left: 1em;
    padding: 0; }
    .df_products .df_product .summary .cart .quantity {
      padding-right: 4em; }
  .df_products .df_product .images {
    width: 93%;
    margin-right: 1em;
    padding: 0; } }
