/*
Theme Name: Deficious Food by Mor Sella
Description: A custom WordPress site for Delicious Food Organic Store.
Author: Mor Sella
Version: 1.0
Tags: clean, light, responsive, custom-post-types, custom-fields, menus.

© Copyright 2015 - 2016 Morsella. All Rights Reserved.

*/

//________Establishing BOURBON Connection ___________________________

@charset "utf-8";

@import "bourbon/bourbon";

//_______Reset Css__________________________________________________

@import "css/reset.css";

//________Files _____________________________________________________
@import 'css/fonts.css';

@import 'css/header.scss';

@import 'css/page-about.css';

@import 'css/page-blog.css';

@import 'css/page-comments.css';

@import 'css/page-contact.css';

@import 'css/page-single.css';

@import 'css/shop.css';

@import 'css/cart.css';


/**************************    STRUCTURE    *******************************
 * ********************************************************************** *
 */


body{
	text-align: center;
	font-size: $page_font;
	color:#000;
	font-family: 'webfontregular',Helvetica, Arial, sans-serif;
	margin: 0;
	background-color: #fff;
	line-height: 2.275em;
}
header{
	width: 100%;
	height: auto;
	position: relative;
	background-color: #fff;
}
	h1{
		font-size: 3em;
		font-size: 4vw;
		margin-bottom: 4%;
		color: $green;
		font-family: Georgia,Palatino, 'Times New Romans', serif;

	}
	h2{
		font-size: 2em;
		font-size: 3vw;
		font-family: 'lobsterregular';
		color: $bordo;
		margin-bottom: 4%;

	}
	h3{
		font-size: 2em;
		font-size: 2.5vw;
		font-family: Georgia, 'Times New Romans', serif;
		color: $green;
		margin-bottom: 4%;
	}
	h4{
		font-size: 3em;
		font-size: 4vw;
		margin-bottom: 4%;
		color: $green;
		font-family: Georgia,Palatino, 'Times New Romans', serif;



	}
	h5{
		font-size: 2em;
		font-size: 3vw;
		font-family: 'lobsterregular';
		color: $bordo;
		margin-bottom: 4%;
	}
	h6, .df_address{
		font-size: 1.275em;
		font-size: 2vw;
		font-family: Georgia, 'Times New Romans', serif;
		color: $green;
		margin-bottom: 4%;

	}
img{
	max-width: 100%;
}


.pointer_events{
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.logo_img_link {
	color:red;

}
.logo_png{
	max-width: 23%;
	text-align: center;
	position: absolute;
	top: -5%;
	right:20%;
	z-index: 30;
	cursor: pointer;


}


.flexslider{
	text-align: center;
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
	position: relative;
}

.flexslider .slides img {
	max-width:100%;
	display: block;
}

/* helper css, since we don't have images */
.slide1 {background: $cream;}
.slide2 {background: $cream;}
.slide3 {background: $cream;}
.slide4 {background: $cream;}
.slide5 {background: $cream;}


#menu{
	display: block;
	#page_title{
			display: none;
	}
	ul{
		list-style: none;
		cursor: pointer;
			li{
					a{
						color: $green;
						text-decoration: none;
						@include transition(all .8s 0s);

						&:hover{
							color: white;
							@include transition(all .8s 0s);
						 }
					}


			}
	}
}

.stuck{
    position:fixed;
    z-index:100;
    width:100%;
    top:0;
}

.border_png img{
	max-width: 60%;
	text-align: center;
	position: relative;
	margin-bottom: 2em;
	margin-top: -1.375em;
}
.short_description{
	margin: -2em 10%  6% 10%;
}

.circles img{
	max-width: 100%;
	border-radius: 50%;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;

	border: 6px solid $light_green;
	display: block;
	position: relative;
	top: 0;
	left: 15%;
	margin-bottom: 5px;


}

.circles{
	margin: auto;
	width: 100%;
	text-align: center;
	max-width: 1100px;
}

.circle{
	display: inline-block;
	text-align: center;
	margin:0 0.725em 0 0.725em;
	p{
		width: 260px;
		text-align: left;
		margin-bottom: 20px;
		margin-left: 1em;
		text-indent: 25px;
	}


	h3{
		color: $light_green;
	}

}
.circles2 img{
	max-width: 100%;
	max-width: 1100px;
	display: block;
	position: relative;
	top: 0;
	left: 15%;
}

.circles2{
	margin: auto;
	width: 100%;
	text-align: center;
}

.circle2{
	display: inline-block;
	text-align: center;
	margin:0 0.225em 0 0.225em;
	p{
		width: 206px;
		text-align: left;
		margin-bottom: 20px;
		margin-left: 1em;
		font-size: 0.975em;
		line-height: 1.575em;
		 text-indent: 10px;
	}


	h3{
		color: $light_green;
	}

}


#selection1{
	padding:0 0 2em 0;
}
.products{
		margin: auto;
		width: 100%;
		text-align: center;
		max-width: 1000px;
		line-height: 1.5em;
	.product{
			display: inline-block;
			text-align: center;
			max-width: 90%;
			margin-bottom: 3em;
			margin-top: -2em;
			ul{
				text-align: left;
				li{
					display: inline-block;
					border-bottom: dotted $green 1px;
					margin:0 0 10px 20px;
					lable{
						padding-right: 10px;
					}
					a{
						color:$green;
						background: none;
						line-height: 1em;
						margin-right: 30px;

					}
					a:hover{
							color: $bordo;
						}
				}
			}
			a{
					background: $green;
					display: inline-block;
					 border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 line-height: 0;
					 text-decoration: none;
						color: white;
						position: relative;
						text-align: center;
						max-width: 100%;
					.wp-post-image {
					  max-width: 100%;
					  border-radius: 2%;
					 -webkit-border-radius: 2%;
					 -moz-border-radius: 2%;
					 opacity: 1;
					 display: block;
				    width: 100%;
				    height: auto;

					}
					&:hover .wp-post-image{
						opacity: 0.6;
						@include transition(all .8s 0s);
					}
					.view{
						display: none;
					}
					&:hover .view{
						display: block;
						font-size: 1.275em;
						position: absolute;
						top:40%;
					    left:50%;
					    margin-left:-40px;
					}

			}


		p{
			text-align: left;
			padding: 1em 0 1em 0;
			margin-left: 1em;
			max-width: 95%;
		}
		h3{
			color: $green;
		}
		a.btn{
			background: $light_green;
			color: white;
			text-decoration: none;
			text-align: center;
			display: block;
			padding: 1em 0 1em 0;
			margin: 0 0 1em 1em;
			font-size: 1.275em;
			max-width: 90%;
			@include transition(all .8s 0s);
			&:hover{
				color:white;
				background: $bordo;
				@include transition(all .8s 0s);
			}
		}


	}
}
.excerpt{
	text-indent: 25px;
}
#selection2{
	background-color: $cream;
	padding: 3em 0 3em 0;
}
#selection3{
	padding: 3em 0 3em 0;
	background-color: #fff;

}
#selection4{
	padding: 3em 0 3em 0;
	background-color: $olive_light;
}
.display_box_height{
	height: 150px;
	display: block;
	padding: 3em 0 3em 0;
	background: url('images/contact_page.jpg') no-repeat;
	background-size: cover;
}

/*locations*/

#map_details{
	width: 100%;
	text-align: center;
	line-height: 1.5em;

        .bussiness_map_details{
	        display: inline-block;
	        max-width: 300px;
        }
        address{
	        text-align: right;
	        padding: 10px 20px 10px 0;
	        border-right: 1px solid $green;
        }
        div{
	        text-align: left;
	        padding: 10px 0 10px 20px;
	         border-left: 1px solid $green;
        }

	}


#map {
	width: 100%;
	min-height: 270px;
	margin-bottom: 30px;
}
#phone{
	max-width: 1.5%;
}
.gm-style-iw{
	font-size: 11px;
	line-height: 16px;
	max-width: 200px;
}

.zigzag {
  position: relative;
  width: 100%;
  height: 10px;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.container{
		background-color: $cream;
}
.container:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      $cream 33.333%, $cream 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      $cream 33.333%, $cream 66.667%,
      transparent 66.667%
    );
  background-size: 10px 20px;
}

.container3{
		background-color:white;
}
.container3:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      white 33.333%, white 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      white 33.333%, white 66.667%,
      transparent 66.667%
    );
  background-size: 10px 20px;
}
.container4{
		background-color: $olive_light;
}
.container4:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      $olive_light 33.333%, $olive_light 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      $olive_light 33.333%, $olive_light 66.667%,
      transparent 66.667%
    );
  background-size: 10px 20px;
}
.container5{
		background-color: $bordo;
}
.container5:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      $bordo 33.333%, $bordo 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      $bordo 33.333%, $bordo 66.667%,
      transparent 66.667%
    );
  background-size: 10px 20px;
}


footer {
    background: $bordo;
    padding-bottom: 1em;
}

#copyright {
    text-align: center;
    color:white;
    font-size: 0.725em;
}

#copyright a{
	color: white;
	background: rgba(0,0,0, 0.4);
	padding: 10px;
	line-height: 1.5em;
	 border-radius:50%;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 text-decoration: none;
	 @include transition(background .8s 0s);


}

#copyright a:hover {
	color: $bordo;
	background: rgba(255,255,255, 0.6);
	@include transition(background .8s 0s);

}
.ss-icon {
	margin-bottom: 20px;
}
.ss-icon a {
	margin-right: 1%;
}

.test{
	border: 5px solid $bordo;
}


/************************** * MIN WIDTH 880px *  ************************
 * **********************************************************************
 */



@media only screen and (max-width: 880px){



	h3{
		font-size: 2em;
		font-size: 3.275vw;
		font-family: Georgia, 'Times New Romans', serif;
		color: $green;
		margin-bottom: 4%;
	}


}


/************************** * MIN WIDTH 640px *  ************************
 * **********************************************************************
 */


@media only screen and (min-width: 680px){
	.df_top_navigation{
		margin-bottom: 30px;
	}
	#menu{
		background: $cream;
		text-align: center;
		height: 25px;
		padding: 10px;
		margin: auto;
		display: block !important;
			ul{
				line-height: 1em;
					%list{
						display: inline-block;
						padding: 1em;
						margin: -10px -7px 0 0 ;
						width: 60px;
						height: 70px;
						font-size: 11px;
					}
					li{
						@extend %list;
						background-position: 0 -70px;
						@include transition(background-position 0.5s ease-out);
							&:hover{
								@extend %list;
								@include ribbon_bg;
								background-position:0 0px;

								a{
									color:#fff;

								}

							}
					}

					.selected{
						@extend %list;
						@include ribbon_bg;
						background-position: 0 0px;
						a{
							color:#fff;
						}
					}
			}

	}

		.product{
		width: 45%;
		margin-left: 1em;
		margin-right: 0;
		p{
			margin-left: 1em;
		}
	}




}

/**************************    MAX WIDTH 639px     **********************
 * **********************************************************************
 */

@media only screen and (max-width: 679px){

//_____TOGGLE MENU____________________________

		#toggle {
			display: block;
			width: 100%;
			height: 50px;
			margin: 20px auto 0 0;
			background: $cream;
			text-align: center;
			  	%base_span{
				  	  width: 100%;
					  height: 5px;
					  background-color: $bordo;
					  @include transition(all 0.3s ease-in-out);
					  backface-visibility: hidden;
					  border-radius: 2px;
			  	}

			  	span{
				  	position: relative;
				  	top: 47%;
				  	left: 47%;
				  	width: 28px;
				  	display: block;
				  	@extend %base_span;
			  	}

			  	%in_span{
				  	content: "";
				  	position: absolute;
				  	left: 0;
			  	}
			  	span:before{
			  		@extend %in_span;
			  		@extend %base_span;
				  	top: -9px;
			  	}
			  	span:after{
				  	@extend %in_span;
				  	@extend %base_span;
				  	top: 9px;
			  	}
			}
//________TOGGLE ON_______________________________________
				#toggle.on{
					span{
				 	 	background-color: transparent;
				  	}
				  	span:before {
				  	  @include transform(rotate(45deg) translate(5px, 5px));
					}
					span:after {
					  @include transform(rotate(-45deg) translate(7px, -8px));
					}

				}
//________MENU STYLES_______________________________________
			.df_top_navigation{
				margin-bottom:-5px;
			}
			#menu {
			  color: $green;
			  width:90%;
			  padding: 10px;
			  margin: auto;
			  text-align: center;
			  border-radius: 0 0 4px 4px;
			  background: $cream;
			  box-shadow: 0 1px 8px rgba(0,0,0,0.1);
			  display: none;
					ul{
						li{
							margin: 0;
							padding: 4% 0 4% 0;
							&:hover{
								background: $bordo;
								@include transition(all .8s 0s);
									a{
										color:#fff;
									}
								}
						}
						.selected{
							background: $bordo;
							a{color: #fff;}
						}
					}

			}

			.stuck{
			    position:fixed;
			    z-index:100;
			    width:100%;
			    top:-4%;
			}

//___________________STRUCTURE___________________________________________
			h1{
				font-size: 3em;
				font-size: 7vw;
				color: $green;
				font-family: Georgia,Palatino, 'Times New Romans', serif;
				margin-bottom: 4%;

			}
			h2{
				font-size: 2em;
				font-size: 5vw;
				font-family: 'lobsterregular';
				color: $bordo;
				margin-bottom: 4%;

			}
			h3{
				font-size: 2em;
				font-size: 5vw;
				font-family: Georgia, 'Times New Romans', serif;
				color: $green;
				margin-bottom: 4%;
			}
			h4{
				font-size: 3em;
				font-size: 7vw;
				color: $green;
				font-family: Georgia,Palatino, 'Times New Romans', serif;
				margin-bottom: 4%;

			}
			h5{
				font-size: 2em;
				font-size: 5vw;
				font-family: 'lobsterregular';
				color: $bordo;
				margin-bottom: 4%;

			}
			h6, .df_address{
				font-size: 2em;
				font-size: 3.5vw;
				font-family: Georgia, 'Times New Romans', serif;
				color: $green;
				margin-bottom: 4%;

			}


			#map {
				width: 100%;
				min-height: 230px;
				}
			#phone{
				max-width: 3%;
			}




}





