@charset "UTF-8";
/*
Theme Name: Deficious Food by Mor Sella
Description: A custom WordPress site for Delicious Food Organic Store.
Author: Mor Sella
Version: 1.0
Tags: clean, light, responsive, custom-post-types, custom-fields, menus.

© Copyright 2015 - 2016 Morsella. All Rights Reserved.

*/
@import url(css/reset.css);
@import url(css/fonts.css);
/* #d3d6aa */
@import url(css/page-about.css);
@import url(css/page-blog.css);
@import url(css/page-comments.css);
@import url(css/page-contact.css);
@import url(css/page-single.css);
@import url(css/shop.css);
@import url(css/cart.css);
/**************************    STRUCTURE    *******************************
 * ********************************************************************** *
 */
body {
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: 'webfontregular',Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #fff;
  line-height: 2.275em; }

header {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff; }

h1 {
  font-size: 3em;
  font-size: 4vw;
  margin-bottom: 4%;
  color: #5a6d13;
  font-family: Georgia,Palatino, 'Times New Romans', serif; }

h2 {
  font-size: 2em;
  font-size: 3vw;
  font-family: 'lobsterregular';
  color: #972620;
  margin-bottom: 4%; }

h3 {
  font-size: 2em;
  font-size: 2.5vw;
  font-family: Georgia, 'Times New Romans', serif;
  color: #5a6d13;
  margin-bottom: 4%; }

h4 {
  font-size: 3em;
  font-size: 4vw;
  margin-bottom: 4%;
  color: #5a6d13;
  font-family: Georgia,Palatino, 'Times New Romans', serif; }

h5 {
  font-size: 2em;
  font-size: 3vw;
  font-family: 'lobsterregular';
  color: #972620;
  margin-bottom: 4%; }

h6, .df_address {
  font-size: 1.275em;
  font-size: 2vw;
  font-family: Georgia, 'Times New Romans', serif;
  color: #5a6d13;
  margin-bottom: 4%; }

img {
  max-width: 100%; }

.pointer_events {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.logo_img_link {
  color: red; }

.logo_png {
  max-width: 23%;
  text-align: center;
  position: absolute;
  top: -5%;
  right: 20%;
  z-index: 30;
  cursor: pointer; }

.flexslider {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative; }

.flexslider .slides img {
  max-width: 100%;
  display: block; }

/* helper css, since we don't have images */
.slide1 {
  background: #f3e2c8; }

.slide2 {
  background: #f3e2c8; }

.slide3 {
  background: #f3e2c8; }

.slide4 {
  background: #f3e2c8; }

.slide5 {
  background: #f3e2c8; }

#menu {
  display: block; }
  #menu #page_title {
    display: none; }
  #menu ul {
    list-style: none;
    cursor: pointer; }
    #menu ul li a {
      color: #5a6d13;
      text-decoration: none;
      -webkit-transition: all 0.8s 0s;
      -moz-transition: all 0.8s 0s;
      transition: all 0.8s 0s; }
      #menu ul li a:hover {
        color: white;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }

.stuck {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0; }

.border_png img {
  max-width: 60%;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  margin-top: -1.375em; }

.short_description {
  margin: -2em 10%  6% 10%; }

.circles img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 6px solid #a7ad55;
  display: block;
  position: relative;
  top: 0;
  left: 15%;
  margin-bottom: 5px; }

.circles {
  margin: auto;
  width: 100%;
  text-align: center;
  max-width: 1100px; }

.circle {
  display: inline-block;
  text-align: center;
  margin: 0 0.725em 0 0.725em; }
  .circle p {
    width: 260px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 1em;
    text-indent: 25px; }
  .circle h3 {
    color: #a7ad55; }

.circles2 img {
  max-width: 100%;
  max-width: 1100px;
  display: block;
  position: relative;
  top: 0;
  left: 15%; }

.circles2 {
  margin: auto;
  width: 100%;
  text-align: center; }

.circle2 {
  display: inline-block;
  text-align: center;
  margin: 0 0.225em 0 0.225em; }
  .circle2 p {
    width: 206px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 1em;
    font-size: 0.975em;
    line-height: 1.575em;
    text-indent: 10px; }
  .circle2 h3 {
    color: #a7ad55; }

#selection1 {
  padding: 0 0 2em 0; }

.products {
  margin: auto;
  width: 100%;
  text-align: center;
  max-width: 1000px;
  line-height: 1.5em; }
  .products .product {
    display: inline-block;
    text-align: center;
    max-width: 90%;
    margin-bottom: 3em;
    margin-top: -2em; }
    .products .product ul {
      text-align: left; }
      .products .product ul li {
        display: inline-block;
        border-bottom: dotted #5a6d13 1px;
        margin: 0 0 10px 20px; }
        .products .product ul li lable {
          padding-right: 10px; }
        .products .product ul li a {
          color: #5a6d13;
          background: none;
          line-height: 1em;
          margin-right: 30px; }
        .products .product ul li a:hover {
          color: #972620; }
    .products .product a {
      background: #5a6d13;
      display: inline-block;
      border-radius: 2%;
      -webkit-border-radius: 2%;
      -moz-border-radius: 2%;
      line-height: 0;
      text-decoration: none;
      color: white;
      position: relative;
      text-align: center;
      max-width: 100%; }
      .products .product a .wp-post-image {
        max-width: 100%;
        border-radius: 2%;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto; }
      .products .product a:hover .wp-post-image {
        opacity: 0.6;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }
      .products .product a .view {
        display: none; }
      .products .product a:hover .view {
        display: block;
        font-size: 1.275em;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-left: -40px; }
    .products .product p {
      text-align: left;
      padding: 1em 0 1em 0;
      margin-left: 1em;
      max-width: 95%; }
    .products .product h3 {
      color: #5a6d13; }
    .products .product a.btn {
      background: #a7ad55;
      color: white;
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 1em 0 1em 0;
      margin: 0 0 1em 1em;
      font-size: 1.275em;
      max-width: 90%;
      -webkit-transition: all 0.8s 0s;
      -moz-transition: all 0.8s 0s;
      transition: all 0.8s 0s; }
      .products .product a.btn:hover {
        color: white;
        background: #972620;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }

.excerpt {
  text-indent: 25px; }

#selection2 {
  background-color: #f3e2c8;
  padding: 3em 0 3em 0; }

#selection3 {
  padding: 3em 0 3em 0;
  background-color: #fff; }

#selection4 {
  padding: 3em 0 3em 0;
  background-color: #d3d6aa; }

.display_box_height {
  height: 150px;
  display: block;
  padding: 3em 0 3em 0;
  background: url("images/contact_page.jpg") no-repeat;
  background-size: cover; }

/*locations*/
#map_details {
  width: 100%;
  text-align: center;
  line-height: 1.5em; }
  #map_details .bussiness_map_details {
    display: inline-block;
    max-width: 300px; }
  #map_details address {
    text-align: right;
    padding: 10px 20px 10px 0;
    border-right: 1px solid #5a6d13; }
  #map_details div {
    text-align: left;
    padding: 10px 0 10px 20px;
    border-left: 1px solid #5a6d13; }

#map {
  width: 100%;
  min-height: 270px;
  margin-bottom: 30px; }

#phone {
  max-width: 1.5%; }

.gm-style-iw {
  font-size: 11px;
  line-height: 16px;
  max-width: 200px; }

.zigzag {
  position: relative;
  width: 100%;
  height: 10px; }

.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px; }

.container {
  background-color: #f3e2c8; }

.container:before {
  background: linear-gradient(45deg, transparent 33.333%, #f3e2c8 33.333%, #f3e2c8 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #f3e2c8 33.333%, #f3e2c8 66.667%, transparent 66.667%);
  background-size: 10px 20px; }

.container3 {
  background-color: white; }

.container3:before {
  background: linear-gradient(45deg, transparent 33.333%, white 33.333%, white 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, white 33.333%, white 66.667%, transparent 66.667%);
  background-size: 10px 20px; }

.container4 {
  background-color: #d3d6aa; }

.container4:before {
  background: linear-gradient(45deg, transparent 33.333%, #d3d6aa 33.333%, #d3d6aa 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #d3d6aa 33.333%, #d3d6aa 66.667%, transparent 66.667%);
  background-size: 10px 20px; }

.container5 {
  background-color: #972620; }

.container5:before {
  background: linear-gradient(45deg, transparent 33.333%, #972620 33.333%, #972620 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #972620 33.333%, #972620 66.667%, transparent 66.667%);
  background-size: 10px 20px; }

footer {
  background: #972620;
  padding-bottom: 1em; }

#copyright {
  text-align: center;
  color: white;
  font-size: 0.725em; }

#copyright a {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  line-height: 1.5em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-decoration: none;
  -webkit-transition: background 0.8s 0s;
  -moz-transition: background 0.8s 0s;
  transition: background 0.8s 0s; }

#copyright a:hover {
  color: #972620;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: background 0.8s 0s;
  -moz-transition: background 0.8s 0s;
  transition: background 0.8s 0s; }

.ss-icon {
  margin-bottom: 20px; }

.ss-icon a {
  margin-right: 1%; }

.test {
  border: 5px solid #972620; }

/************************** * MIN WIDTH 880px *  ************************
 * **********************************************************************
 */
@media only screen and (max-width: 880px) {
  h3 {
    font-size: 2em;
    font-size: 3.275vw;
    font-family: Georgia, 'Times New Romans', serif;
    color: #5a6d13;
    margin-bottom: 4%; } }

/************************** * MIN WIDTH 640px *  ************************
 * **********************************************************************
 */
@media only screen and (min-width: 680px) {
  .df_top_navigation {
    margin-bottom: 30px; }
  #menu {
    background: #f3e2c8;
    text-align: center;
    height: 25px;
    padding: 10px;
    margin: auto;
    display: block !important; }
    #menu ul {
      line-height: 1em; }
      #menu ul li, #menu ul li:hover, #menu ul .selected {
        display: inline-block;
        padding: 1em;
        margin: -10px -7px 0 0;
        width: 60px;
        height: 70px;
        font-size: 11px; }
      #menu ul li {
        background-position: 0 -70px;
        -webkit-transition: background-position 0.5s ease-out;
        -moz-transition: background-position 0.5s ease-out;
        transition: background-position 0.5s ease-out; }
        #menu ul li:hover {
          background-image: url("images/ribbon.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 0 0px; }
          #menu ul li:hover a {
            color: #fff; }
      #menu ul .selected {
        background-image: url("images/ribbon.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0px; }
        #menu ul .selected a {
          color: #fff; }
  .product {
    width: 45%;
    margin-left: 1em;
    margin-right: 0; }
    .product p {
      margin-left: 1em; } }

/**************************    MAX WIDTH 639px     **********************
 * **********************************************************************
 */
@media only screen and (max-width: 679px) {
  #toggle {
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px auto 0 0;
    background: #f3e2c8;
    text-align: center; }
    #toggle span, #toggle span:before, #toggle span:after {
      width: 100%;
      height: 5px;
      background-color: #972620;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      backface-visibility: hidden;
      border-radius: 2px; }
    #toggle span {
      position: relative;
      top: 47%;
      left: 47%;
      width: 28px;
      display: block; }
    #toggle span:before, #toggle span:after {
      content: "";
      position: absolute;
      left: 0; }
    #toggle span:before {
      top: -9px; }
    #toggle span:after {
      top: 9px; }
  #toggle.on span {
    background-color: transparent; }
  #toggle.on span:before {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -moz-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    -o-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px); }
  #toggle.on span:after {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
    -moz-transform: rotate(-45deg) translate(7px, -8px);
    -ms-transform: rotate(-45deg) translate(7px, -8px);
    -o-transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(7px, -8px); }
  .df_top_navigation {
    margin-bottom: -5px; }
  #menu {
    color: #5a6d13;
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 0 0 4px 4px;
    background: #f3e2c8;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    display: none; }
    #menu ul li {
      margin: 0;
      padding: 4% 0 4% 0; }
      #menu ul li:hover {
        background: #972620;
        -webkit-transition: all 0.8s 0s;
        -moz-transition: all 0.8s 0s;
        transition: all 0.8s 0s; }
        #menu ul li:hover a {
          color: #fff; }
    #menu ul .selected {
      background: #972620; }
      #menu ul .selected a {
        color: #fff; }
  .stuck {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: -4%; }
  h1 {
    font-size: 3em;
    font-size: 7vw;
    color: #5a6d13;
    font-family: Georgia,Palatino, 'Times New Romans', serif;
    margin-bottom: 4%; }
  h2 {
    font-size: 2em;
    font-size: 5vw;
    font-family: 'lobsterregular';
    color: #972620;
    margin-bottom: 4%; }
  h3 {
    font-size: 2em;
    font-size: 5vw;
    font-family: Georgia, 'Times New Romans', serif;
    color: #5a6d13;
    margin-bottom: 4%; }
  h4 {
    font-size: 3em;
    font-size: 7vw;
    color: #5a6d13;
    font-family: Georgia,Palatino, 'Times New Romans', serif;
    margin-bottom: 4%; }
  h5 {
    font-size: 2em;
    font-size: 5vw;
    font-family: 'lobsterregular';
    color: #972620;
    margin-bottom: 4%; }
  h6, .df_address {
    font-size: 2em;
    font-size: 3.5vw;
    font-family: Georgia, 'Times New Romans', serif;
    color: #5a6d13;
    margin-bottom: 4%; }
  #map {
    width: 100%;
    min-height: 230px; }
  #phone {
    max-width: 3%; } }
